p{
    margin-bottom: 0px;
}
.c-home{
    background-image: url('https://cdn.futfanatics.com.br/futfanatics-nacional/paginas-personalizadas/topcamisas/home/background-home.png');
    min-height: 100vh;
    display: flex;
    align-items:center ;
    position: relative;
    justify-content: center;

    .title-home{
        color: #9C7A47;
        font-weight: 700;
        font-size: 50px;
        text-transform: uppercase;

        &-top{
            font-weight: 300;
            letter-spacing: 15px;
            font-size: 25px;
           
        }
    }
    .home-img{
        width: 100%;
        object-fit: contain;
    }
    .content-home{
        color: #9C7A47;
        font-size: 16px;
    }
    .box-selo{
        position: absolute;
        bottom: -45px;
        z-index: 9;
    }
        
}
