@mixin md{
    @media (min-width: 1200px) { @content; }
}
.c-instruction{
    padding: 100px 0px;
    background-image: url('https://cdn.futfanatics.com.br/futfanatics-nacional/paginas-personalizadas/topcamisas/instruction/background-instruction.png');
    background-size: cover;
    display:flex ;
    flex-direction: column;
    align-items: center;
    position: relative;

    .text-instruction{
        letter-spacing: 8px;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 18px;
        text-align: center;

        &-strong{
            font-weight: 700;
            line-height: 2rem;
        }
    }

    .instruction__slick {
        margin-top: 56px;
        justify-content: space-around;

        .slick-list{
            @include md{
                width: 100%;
            }


            .slick-track{
                @include md{
                    width: 100%;
                    display: flex;
                    justify-content: space-between
                }
            }
        }

        .content-instruction{
            text-align: center;
            color: #484848;
            margin-top: 32px;
            font-size: 18px;
        }
    }

    .button-instruction{
        background: linear-gradient( #9C7A47 0%, #CBA265 100% );
        padding: 10px 20px;
        border-radius: 30px;
        text-decoration: none;
        position: absolute;
        bottom: -20px;
        color: #F1F1F1;
        margin: 0 20px;
        display: flex;
        font-size: 14px;
        border: 1px solid #FFFFFF;
        align-items: center;
        
        @include md{
            margin: 0;
            font-size: 18px;
            
            
        
        }
        .cart{
            margin: 0 8px;
        }
    }
}