
@mixin md{
    @media (min-width: 1200px) { @content; }
}

.c-modalVote{
    .close{
        border: none;
        position: absolute;
        width: 30px;
        z-index: 999;
        border-radius: 20px;
        background: #0E1E41;
        display: flex;
        cursor: pointer;
        justify-content: center;
        align-items: center;
        height: 30px;
        text-decoration: none;
        color: #D9D9D9;
        font-size: 18px;
        font-weight: 600;
        top: -10px;
        right: 50%;
        transform: translateX(50%);

        @include md{
            right: -5px;
            top: -10px;
            transform: translateX(0);
        }
    }
    .modal-dialog{
        max-width: 800px;
    }
    .modal-body{
        padding: 0;
        background-color:#D9D9D9;
    }
    .col-img{
        .img-modalVote{
            width: 100%;
            object-fit: cover;
            height: 100%;
        }
    }
    .col-content{
        padding: 24px;
        padding-top: 32px;
        display: flex;
        flex-direction: column;
        
        @include md{
            min-height: 460px;
        }

        .content{
            &-title{
                font-size: 24px;
                text-transform: uppercase;
                line-height: 2rem;
                font-weight: 800;
                letter-spacing: 2px;
                text-align: center;

                @include md{
                    text-align: start;
                    font-size: 20px;
                    font-weight: 800;
                    letter-spacing: 4px;
                }
            }
            &-subtitle{
                text-align: center;
                font-size: 18px;
                line-height: 1.5rem;
                @include md{
                    font-size: 16px;
                    text-align : start;
                }
            }      
        }
        .btn-vote{
            background-color: #192C53;
            color: #FFFFFF;
            text-transform: uppercase;
            font-size: 16px;
            display: flex;
            justify-content: center;
            padding: 10px 0px;
            font-weight: 700;
            text-decoration: none;
            width: 100%;
            border: none;
            margin-top: 16px;

            @include md{
                margin-top: 0;
            }
        }      

        .forms-content{
            margin-top: 16px;
            margin-bottom: 16px;

            @include md{
                margin-bottom: 0;
            }
            .alert-privacy{
                color: #000;
                text-decoration: underline;
                font-weight: 700;
                font-size: 16px;
            }
            .vote__back{
                color: #A0A0A0;
                text-decoration: underline;
                font-size: 14px;
                margin-top: 8px;
                font-weight: 700;
                cursor: pointer;
            }
        }
    }
    .col-cupom{
        padding: 24px;
        padding-top: 32px;
        display: none;
        flex-direction: column;
        justify-content: center;

        @include md{
            min-height: 460px;
            padding-right: 32px;
        }

        .cupom{
            &-title{
                font-size: 24px;
                text-transform: uppercase;
                line-height: 2rem;
                font-weight: 800;
                letter-spacing: 2px;
                text-align: center;
            }
            &-subtitle{
                text-align: center;
                font-size: 16px;
                line-height: 1.5rem;
            }
        }

        .name-cupom{
            display: flex;
            justify-content: space-between;
            background-color: #FFFFFF;
            padding:5px 20px 5px 140px;
            text-decoration: none;
            color:#717171;
            font-weight: 700;
            margin-top: 16px;
            font-size: 20px;
            border-radius: 2px;
            text-transform: uppercase;
            cursor: pointer;
            position: relative;
            &.copied {
                &:before {
                    content: "Cupom Copiado";
                    display: block;
                    font-size: 12px;
                    position: absolute;
                    top: -20px;
                    background-color: #FFF;
                    border: 1px solid #ccc;
                    border-radius: 4px;
                    padding: 2px;
                    right: 0;

                }


            }
        }
        .see-more_shirt{
            background-color: #192C53;
            color: #FFFFFF;
            text-transform: uppercase;
            font-size: 14px;
            display: flex;
            justify-content: center;
            padding: 10px 0px;
            font-weight: 700;
            text-decoration: none;
            width: 100%;
            border: none;
            margin-top: 16px;
        }
        .share-options{
            display: flex;
            margin-top: 16px;
            justify-content: center;
            .btn-share{
                background-color: #B1B1B1;
                border-radius: 10px;
                border: #FFFFFF 1px solid;
                padding: 10px;
                display: flex;
                align-items: center;
                margin-right: 8px;
                text-decoration: none;

                &:last-child{
                    margin-right: 0px;
                }
                i{
                    text-decoration: none;
                    font-size: 24px;
                    color: #FFF;
                }
            }
        }
        .vote__back{
            color: #A0A0A0;
            text-decoration: underline;
            font-size: 14px;
            margin-top: 16px;
            font-weight: 700;
            cursor: pointer;
        }
        &.active{
            display: flex;
        }
    }
}