.c-shirt_year{
    padding: 60px 0px 60px 0px;
    background-image: url('https://cdn.futfanatics.com.br/futfanatics-nacional/paginas-personalizadas/topcamisas/shirt-year/background.jpg');
    background-size: cover;

    @include md{
        padding: 100px 0px 60px 0px;
    }

    .box-text_shirt{
        margin-bottom: 32px;
        .shirt{
            &-title{
                font-size: 40px;
                color: #9C7A47;
                font-weight: 700;
                text-transform: uppercase;
                position: relative;

                &::after{
                    
                    @include md{
                        width: 30%;
                        background-color: #D3AE78;
                        height: 1px;
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        right: 20px;
                        content: "";
                    }
                }
                &::before{
                    @include md{
                        width: 30%;
                        background-color: #D3AE78;
                        height: 1px;
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        left: 20px;
                        content: "";
                    }
                }

            } 
            &-subtitle{
                font-size: 15px;
                font-weight: 400;
                line-height: 1rem;
            }
        }
    }
    .row{
        margin-top: 24px;
        display: flex;
        justify-content: space-around;
    }
    .card{
        width:48%;
        margin-bottom: 8px;
        overflow: hidden;
        border-radius: 10px;
        padding: 0;
        position: relative;
        min-height: 250px;
        transition: ease-in-out 1s;

        @include md{
            margin-bottom: 16px;
            width:18%;
        }

        .img-card{
            height: 100%;
            object-fit:cover;
            transition: ease-in-out 0.6s;
            filter: grayscale(1);
            cursor: pointer;
        }
        .box-redirect{
            width: 100%;
            display: flex;
            flex-direction: column;
            bottom: 0;
            

        .legend{
            display: none;
            font-size: 18px;
            color: #f1f1f1;
            text-transform: capitalize;
            padding: 0px 16px;
            font-weight: 500;
            padding-bottom: 8px;
            background: linear-gradient(0deg, rgba(00,00,0.6), transparent 100%);
            padding-top: 16px;
        }
        .box-buttons{
            display: none;
            background-color: #9C7A47;
            width: 100%;
            min-height: 45px;

            .see-more{
                text-decoration: underline;
                color: #fff;
                text-transform: uppercase;
                font-size: 14px;
            }
            .button-vote{
                background-color: #fff;
                padding: 3px 15px;
                border-radius: 5px;
                color:#000;
                font-size: 14px;
                text-decoration: none;
                text-transform: uppercase;
                font-weight: 700;
            }
        }  
        }
        
        &:last-child{
            margin-right: 0px;
        }
        &:hover{
            .img-card{
                transform: scale(1.05);
                filter: none;
            }
            .legend{
                display: block;
            }
            .box-buttons{
                display: flex;
                justify-content: space-between;
                padding: 0px 16px;
                bottom:0px ;
                align-items: center;
            }
            
        }
    }
    .warning-text{
        color: #000;
        font-size: 16px;
        display: flex;
        justify-content: center;
        margin-top: 64px;
    }
}